body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface-ground);
  text-align: center;
}

.success-text {
  color: #86efac;
}

.failure-text {
  color: #ff5757;
}

p {
  font-size: larger;
}
